body {
  display: flex;
  /*justify-content: center;*/
  background-color: black;
}

.circles {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.circle {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.circle--red {
  background-color: red;
}

.circle--blue {
  background-color: blue;
}

.circle--green {
  background-color: green;
}

.circle--pink {
  background-color: pink;
}

.circle--gray {
  background-color: gray;
}